#coinranking1.p.rapidapi.com
REACT_APP_COINRANKING_BASEURL=
REACT_APP_COINRANKING_HOST=
REACT_APP_COINRANKING_KEY=

#bing-news-search1.p.rapidapi.com
REACT_APP_BINGAPIS_BASEURL=
REACT_APP_BINGAPIS_SDK=
REACT_APP_BINGAPIS_HOST=
REACT_APP_BINGAPIS_KEY=